
body {
    background-image: url('image.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.login-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: "Arial", sans-serif; 
    font-size: 18px; 
    font-weight: bold;
    background-color: #ff69b4; 
    color: white; 
    padding: 12px;
    border: none;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d64a92;
}

.cloud {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100px;
    height: 50px;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 30px 10px 40px rgba(255, 255, 255, 0.6);
    animation: moveClouds 20s linear infinite;
}

.cloud::before, .cloud::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.cloud::before {
    top: -20px;
    left: 20px;
}

.cloud::after {
    top: -10px;
    left: 60px;
}

.clock {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-family: "Audiowide", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #A9CCFC; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    background-color: #5CB8F9; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}


@keyframes moveClouds {
    from { transform: translateX(-150px); }
    to { transform: translateX(100vw); }
}

.cloud:nth-child(1) { top: 5%; left: 10%; animation-duration: 15s; }
.cloud:nth-child(2) { top: 10%; left: 30%; animation-duration: 18s; width: 120px; height: 60px; }
.cloud:nth-child(3) { top: 15%; left: 50%; animation-duration: 22s; }
.cloud:nth-child(4) { top: 7%; left: 70%; animation-duration: 20s; width: 140px; height: 70px; }
.cloud:nth-child(5) { top: 3%; left: 90%; animation-duration: 25s; }
.cloud:nth-child(6) { top: 12%; left: 20%; animation-duration: 27s; width: 110px; height: 55px; }
.cloud:nth-child(7) { top: 8%; left: 80%; animation-duration: 19s; width: 130px; height: 65px; }



